html {
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(131,112,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(131,112,255,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(131,112,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#8370ff",GradientType=1);
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 100px;
}

.calc {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.myButton {
    background:linear-gradient(to bottom, #000000 5%, #06ffff 100%);
	background-color:#000000;
	border:7px solid #00ffff;
	display:inline-block;
	cursor:pointer;
	color:#030303;
	font-family:Arial;
	font-size:50px;
	font-weight:bold;
	padding:40px 50px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
        